h1 {  
/*  color: green;   */
  text-align: center;  
}

.random_number {  
/*  margin: 50px;   */
/*  font-size: 150px;   */
/*  text-align: center;   */
}  

button {
  /* display: block;   */
  /* margin: 0 auto; */
    white-space: nowrap;
    width: 240px;
}  

#reload {
  padding: 1px;
  width: unset;
  line-height: 0.6;
  align-self: center;
  }


#report-btn {
  /* align: center; */
  display: block;
  /* width: max-content; */
  margin: auto;
}

.row {
    display: flex;
    margin-bottom: 10px;
    gap: 5px;
    align-items: center;
    /* justify-content: space-between; */
    /*    margin-right: 50px; */
}

label {
    /* text-align: right; */
    text-align: left;
}

.long {
    width : 75%;
/*    margin-left: auto; */
}
.short {
   width : 10%;
   margin-left: 15px;
}

.logos {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.logos img {
    height: 100px;
    /* width: 240px; */
}
